<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' href = '/css/reset.css'>
    <link rel = 'stylesheet' href = '/css/normalize.css'>
    <link rel = 'stylesheet' href = '/css/style.css'>
    <link rel = 'stylesheet' href = '/css/add.css'>
    <title>Edit Servant</title>
</head>
<body>
    <header class = 'flex column alignItems justifyContent'>
        <div class = 'banner'></div>

        <nav class = 'flex'>
            <li><a href = '/user'><h2 class = 'logo'>Fate Grand Order</h2></a></li>
    
                <ul class = 'flex row'>
                    <li><a href = '/user'>Home</a></li>
                    <li><a href = '/user/add'>Add Servant</a></li>
                    <li><a href = '/user/servants'>See Servant Data</a></li>
                    <li><a href = '/user/gameplay'>Gameplay</a></li>
                    <li><a href = '/user/simulator'>Simulator</a></li>
                    <li><a href = '/auth/logout'>Logout</a></li>

                </ul>
        </nav>
    </header>



<section class = 'flex justifyContent column alignItems'>
        <div class = 'flex column alignItems data'>
            <h1 class = 'flex justifyContent'>Edit Servant Data</h1>
            <span>Enter in information regarding Fate Grand Servants below and submit the data once everything is filled out.</span>

            <span>Use the link below to access the added servant data API</span>
            <code><pre>https://fgo-app.herokuapp.com/api/servants</pre></code>
        </div>
        
<form action = '/user/details/<%= data._id %>' method = "POST" class = 'flex alignItems column'>
    <input type = "hidden" class="_method" value="PUT">
    <input type="hidden" name="_method" value="PUT">
     <div class = 'flex'>
        
        <input required="required" type = 'text' name = 'firstName' placeholder="First Name" value = '<%= data.firstName %>'>
        <input type = 'text' name = 'middleName' placeholder="Middle Name" value = '<%= data.middleName %>'>
        <input type = 'text' name = 'lastName' placeholder="Last Name" value = '<%= data.lastName %>'>

     </div>

     <div class = 'flex alignItems'>
        <div class ='flex alignItems column'>
        
       
        <% if( data.status == 'public') { %>
            <h2>Status:</h2>
        <select id="status" name="status">
            <option value="public" selected>Public</option>
            <option value="private">Private</option>
        </select>
        <% } %>

        <% if( data.status == 'private') { %>
            <h2>Status:</h2>
        <select id="status" name="status">
            <option value="public">Public</option>
            <option value="private" selected>Private</option>
        </select>
        <% } %>
    </div>
    
    <% if( data.ascension == 1) { %>

        <div class ='flex alignItems column'>
            <h2>Pick Ascension Art to Show:</h2>
            <select name="ascension">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div> 
<% } %>

<% if( data.ascension == 2) { %>

    <div class ='flex alignItems column'>
        <h2>Pick Ascension Art to Show:</h2>
        <select name="ascension">
            <option value="1">1</option>
            <option value="2" selected>2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div> 
<% } %>

<% if( data.ascension == 3) { %>

    <div class ='flex alignItems column'>
        <h2>Pick Ascension Art to Show:</h2>
        <select name="ascension">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3" selected>3</option>
            <option value="4">4</option>
        </select>
    </div> 
<% } %>

<% if( data.ascension == 4) { %>

    <div class ='flex alignItems column'>
        <h2>Pick Ascension Art to Show:</h2>
        <select name="ascension">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4" selected>4</option>
        </select>
    </div> 
<% } %>
   

    </div>

    <div class = 'flex justifyContent'>
        <input required='required' type = 'text' name = 'servantClass' placeholder="Servant Class"  value = '<%= data.servantClass %>'>
        </div>
    

<div class = 'flex alignItems row'>
    <input required='required' type = 'text' name = 'gender' placeholder="Gender" value = '<%= data.gender %>'>


    <% if( data.rarity == 1) { %>

    <div class="alignItems column flex">
        <h2>Pick Rarity of Servant:</h2>
        <select name="rarity">
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
    
        </select>
    </div>

<% } %>


<% if( data.rarity == 2) { %>

    <div class="alignItems column flex">
        <h2>Pick Rarity of Servant:</h2>
        <select name="rarity">
            <option value="1">1</option>
            <option value="2" selected>2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
    
        </select>
    </div>

<% } %>


<% if( data.rarity == 3) { %>

    <div class="alignItems column flex">
        <h2>Pick Rarity of Servant:</h2>
        <select name="rarity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3" selected>3</option>
            <option value="4">4</option>
            <option value="5">5</option>
    
        </select>
    </div>

<% } %>

<% if( data.rarity == 4) { %>

    <div class="alignItems column flex">
        <h2>Pick Rarity of Servant:</h2>
        <select name="rarity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4" selected>4</option>
            <option value="5">5</option>
    
        </select>
    </div>

<% } %>


<% if( data.rarity == 5) { %>

    <div class="alignItems column flex">
        <h2>Pick Rarity of Servant:</h2>
        <select name="rarity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5" selected>5</option>
    
        </select>
    </div>

<% } %>
</div>


<button type = 'submit' class = 'button'>Submit</button>

</form>
</section>


<footer class = 'flex column alignItems' id = 'footer'>
    <section class = 'flex icons'>
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-github"></i>
    <i class="fa-solid fa-envelope"></i>
    </section>
      <nav>
    
          <ul class = 'flex justifyContent'>

            <li><a href = '/user'>Home</a></li>
            <li><a href = '/user/add'>Add Servant</a></li>
            <li><a href = '/user/servants'>See Servant Data</a></li>
            <li><a href = '/user/gameplay'>Gameplay</a></li>
            <li><a href = '/user/simulator'>Simulator</a></li>
            <li><a href = '/auth/logout'>Logout</a></li>
            </ul>
     </nav>

     <small>FGO app &copy; choir Design: HTML5 UP</small>
    
  </footer>

  <script src="https://kit.fontawesome.com/d0e0071c1c.js" crossorigin="anonymous"></script>
</body>
</html>