<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' href = '/css/reset.css'>
    <link rel = 'stylesheet' href = '/css/normalize.css'>
    <link rel = 'stylesheet' href = '/css/style.css'>
    <link rel = 'stylesheet' href = '/css/home.css'>
    <title>Home</title>
</head>
<body>
    <header class = 'flex column alignItems justifyContent'>
        <div class = 'banner'></div>

<nav class = 'flex'>
        <li><a href = '/user'><h2 class = 'logo'>Fate Grand Order</h2></a></li>

        <ul class = 'flex row'>
            <li><a href = '/user'>Home</a></li>
            <li><a href = '/user/add'>Add Servant</a></li>
            <li><a href = '/user/servants'>See Servant Data</a></li>
            <li><a href = '/user/gameplay'>Gameplay</a></li>
            <li><a href = '/user/simulator'>Simulator</a></li>
            <li><a href = '/auth/logout'>Logout</a></li>
        </ul>
</nav>

<section class = 'flex justifyContent alignItems column section'>
            <h1 class = 'flex justifyContent'>Welcome <%= name %>!</h1>
            <h2 class = 'flex justifyContent'>Your Servants</h2>
<% let check = 0 %>
           
     
            <% for(let i =0; i < info.length; i++) { %>
              

                <% if(info[i].servant[0] && info[i].user._id==userID) { %>

                    <% check +=1 %>

                    <% if(check > 3) { %>

                        <div href = '/user/<%= info[i]._id %>' class = 'flex alignItems justifyContent button hidden check<%= i %>'> 
                            <div class="flex alignItems justifyContent column edit-delete">
                                        <a href = '/user/edit/<%= info[i]._id %>' class = 'button edit flex justifyContent'><i class="fa-solid fa-pen"></i></a>
                            
                                        <form action="/user/delete/<%= info[i]._id  %>?_method=DELETE" method="POST" class ='flex justifyContent'>    
                                        <button class="button btn-primary fa fa-trash" type="submit"></button>
                                        </form>
                            
                                    </div>
                            
                                        
                            
                                    <% let image = '' %>

                                    <% function one(){ %>
                                        <% if(Number(info[i].level) <=25){ %>
                                        <%  return image = ascension[info[i].index].servant[0]['1']   %>
                                        <% }else if(Number(info[i].level) <=45){ %>
                                        <%  return image = ascension[info[i].index].servant[0]['2']   %>
                                        <% }else if(Number(info[i].level) <=55){ %>
                                       <%  return image = ascension[info[i].index].servant[0]['3']   %>
                                        <% }else if(Number(info[i].level) >=65 && Number(info[i].level) <= 120){ %>
                                        <%  return image = ascension[info[i].index].servant[0]['4']   %>
                                        <% } %>
                                    <% } %>
                                    <% function two(){ %>
                                        <%     if(Number(info[i].level)<=20){ %>
                                        <%  return image = ascension[info[i].index].servant[0]['1']   %>
                                        <%       }else if(Number(info[i].level)<=40){ %>
                                        <%  return image = ascension[info[i].index].servant[0]['2']   %>
                                        <%       }else if(Number(info[i].level)<=50){ %>
                                        <%  return image = ascension[info[i].index].servant[0]['3']   %>
                                        <%       }else if(Number(info[i].level)>=60 && Number(info[i].level) <= 120){ %>
                                        <%  return image = ascension[info[i].index].servant[0]['4']   %>
                                        <%       } %>
                                        <% } %>
                            
                            
                                        <% function three(){ %>
                                        <%     if(Number(info[i].level)<=30){ %>
                                        <%  return image = ascension[info[i].index].servant[0]['1']   %>
                                        <%       }else if(Number(info[i].level)<=50){ %>
                                        <%  return image = ascension[info[i].index].servant[0]['2']   %>
                                        <%       }else if(Number(info[i].level)<=60){ %>
                                       <%  return image = ascension[info[i].index].servant[0]['3']   %>
                                        <%       }else if(Number(info[i].level) >=70 && Number(info[i].level) <= 120){ %>
                                       <%  return image = ascension[info[i].index].servant[0]['4']   %>
                                        <%       } %>
                                        <% } %>
                            
                                        <% function four(){ %>
                                        <%     if(Number(info[i].level)<=40){ %>
                                        <%  return image = ascension[info[i].index].servant[0]['1']   %>
                                        <%       }else if(Number(info[i].level)<=60){ %>
                                        <%  return image = ascension[info[i].index].servant[0]['2']   %>
                                        <%       }else if(Number(info[i].level)<=70){ %>
                                        <%  return image = ascension[info[i].index].servant[0]['3']   %>
                                        <%       }else if(Number(info[i].level>=80) && Number(info[i].level) <= 120){ %>
                                        <%  return image = ascension[info[i].index].servant[0]['4']   %>
                                        <%       } %>
                                        <% } %>
                            
                                        <% function five(){ %>
                                        <%     if(Number(info[i].level)<=50){ %>
                                        <%  return image = ascension[info[i].index].servant[0]['1']   %>
                                        <% return image %>
                                        <%       }else if(Number(info[i].level)<=70){ %>
                                        <%  return image = ascension[info[i].index].servant[0]['2']   %>
                                        <% return image %>
                                        <%       }else if(Number(info[i].level)<=80){ %>
                                       <%  return image = ascension[info[i].index].servant[0]['3']   %>
                                        <% return image %>
                                        <%       }else if(Number(info[i].level) >=90 && Number(info[i].level) <= 120){ %>
                                        <%  return image = ascension[info[i].index].servant[0]['4']   %>
                                        <% return image %>
                                        <%       } %>
                                        <% } %>
                            
                            
                            
                                       <% if (info[i].ascension == 'default') { %>
                            
                            
                                        <% if(info[i].servant[0].rarity == '1'){ %>
                                               <% one() %>
                                       <% }else if(info[i].servant[0].rarity == '2' || info[i].servant[0].rarity == '0'){ %>
                                                <% two() %>
                                        <% }else if(info[i].servant[0].rarity == '3'){ %>
                                                <% three() %>
                                        <% }else if(info[i].servant[0].rarity == '4'){ %>
                                              <% four() %>
                                        <% }else if(info[i].servant[0].rarity == '5'){ %>
                                                <% five() %>
                                        <% } %>
                                      
                            
                                        <img src = '<%= image %>'>
                            
                            <% } else if (info[i].ascension !== 'default') { %>
                            
                            
                              <% if(info[i].ascension == '1') { %>
                                <%    image = ascension[info[i].index].servant[0]['1']   %>
                            <% }else if(info[i].ascension == '2'){ %>
                                <%    image = ascension[info[i].index].servant[0]['2']   %>
                            <% }else if(info[i].ascension == '3'){ %>
                                <%    image = ascension[info[i].index].servant[0]['3']   %>
                            <% }else if(info[i].ascension == '4'){ %>
                                <%    image = ascension[info[i].index].servant[0]['4']   %>
                            <% } %>
                            <img src = '<%= image %>'>
                            
                            <% } %>
                            
                                     
                                   
                            
                            
                            
                                        <div class = 'flex alignItems column name'>
                                            <h2>Servant Name: <%= info[i].servant[0].name %></h2>
                                            <% let className = info[i].servant[0].className.split('').map(ele => { %>
                                                    <% if(ele === ele.toUpperCase()) { %>
                                                       <% return ' ' + ele %>
                                                        <% } %>
                                                    <% if(ele != ele.toUpperCase()) { %>
                                                       <% return ele %>
                                                        <% } %>
                                           <% }).join('') %>
                            
                                            <h3>Servant Class: <%=className %></h3> 
                                            <a href = '/user/<%= info[i]._id %>' class = 'button'>Go to <%= info[i].name %> page</a>
                                        </div>
                            
                            
                                        <div class="flex alignItems column"  id = 'skills'>
                            
                                            <div class="flex justifyContent alignContent column skills">
                                                <h2>Skills</h2>
                                                <div class="flex justifyContent alignContent row image">
                                                <div class = 'flex'><img src="<%= skill[info[i].index].servant[0].skills.skills1.icon %>" alt="">   <h2>Lv:<%= info[i].skill1 %></h2></div>
                                                <div class = 'flex'><img src="<%= skill[info[i].index].servant[0].skills.skills2.icon %>" alt="">   <h2>Lv:<%= info[i].skill2 %></h2></div>
                                                <div class = 'flex'><img src="<%= skill[info[i].index].servant[0].skills.skills3.icon %>" alt="">   <h2>Lv:<%= info[i].skill3 %></h2></div>
                                            </div>
                                            </div>
                            
                                            <div class="flex justifyContent alignContent column skills" id = 'skills'>
                                                <h2>Append Skills</h2>
                                                <div class="flex justifyContent alignContent row image">
                                                <div class = 'flex'><img src="<%=skill[info[i].index].servant[0].appendPassive.appendPassive0.icon %>" alt="">   <h2>Lv:<%= info[i].appendSkill1 %></h2></div>
                                                <div class = 'flex'><img src="<%=skill[info[i].index].servant[0].appendPassive.appendPassive2.icon %>" alt="">   <h2>Lv:<%= info[i].appendSkill2 %></h2></div>
                                                <div class = 'flex'><img src="<%=skill[info[i].index].servant[0].appendPassive.appendPassive3.icon %>" alt="">   <h2>Lv:<%= info[i].appendSkill3 %></h2></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                    <% } else { %>


        <div href = '/user/<%= info[i]._id %>' class = 'flex alignItems justifyContent button check<%=i %>'> 
<div class="flex alignItems justifyContent column edit-delete">
            <a href = '/user/edit/<%= info[i]._id %>' class = 'button edit flex justifyContent'><i class="fa-solid fa-pen"></i></a>

            <form action="/user/delete/<%= info[i]._id  %>?_method=DELETE" method="POST" class ='flex justifyContent'>    
            <button class="button btn-primary fa fa-trash" type="submit"></button>
            </form>

        </div>

            
<% let image = '' %>

        <% function one(){ %>
            <% if(Number(info[i].level) <=25){ %>
            <%  return image = ascension[info[i].index].servant[0]['1']   %>
            <% }else if(Number(info[i].level) <=45){ %>
            <%  return image = ascension[info[i].index].servant[0]['2']   %>
            <% }else if(Number(info[i].level) <=55){ %>
           <%  return image = ascension[info[i].index].servant[0]['3']   %>
            <% }else if(Number(info[i].level) >=65 && Number(info[i].level) <= 120){ %>
            <%  return image = ascension[info[i].index].servant[0]['4']   %>
            <% } %>
        <% } %>
        <% function two(){ %>
            <%     if(Number(info[i].level)<=20){ %>
            <%  return image = ascension[info[i].index].servant[0]['1']   %>
            <%       }else if(Number(info[i].level)<=40){ %>
            <%  return image = ascension[info[i].index].servant[0]['2']   %>
            <%       }else if(Number(info[i].level)<=50){ %>
            <%  return image = ascension[info[i].index].servant[0]['3']   %>
            <%       }else if(Number(info[i].level)>=60 && Number(info[i].level) <= 120){ %>
            <%  return image = ascension[info[i].index].servant[0]['4']   %>
            <%       } %>
            <% } %>


            <% function three(){ %>
            <%     if(Number(info[i].level)<=30){ %>
            <%  return image = ascension[info[i].index].servant[0]['1']   %>
            <%       }else if(Number(info[i].level)<=50){ %>
            <%  return image = ascension[info[i].index].servant[0]['2']   %>
            <%       }else if(Number(info[i].level)<=60){ %>
           <%  return image = ascension[info[i].index].servant[0]['3']   %>
            <%       }else if(Number(info[i].level) >=70 && Number(info[i].level) <= 120){ %>
           <%  return image = ascension[info[i].index].servant[0]['4']   %>
            <%       } %>
            <% } %>

            <% function four(){ %>
            <%     if(Number(info[i].level)<=40){ %>
            <%  return image = ascension[info[i].index].servant[0]['1']   %>
            <%       }else if(Number(info[i].level)<=60){ %>
            <%  return image = ascension[info[i].index].servant[0]['2']   %>
            <%       }else if(Number(info[i].level)<=70){ %>
            <%  return image = ascension[info[i].index].servant[0]['3']   %>
            <%       }else if(Number(info[i].level>=80) && Number(info[i].level) <= 120){ %>
            <%  return image = ascension[info[i].index].servant[0]['4']   %>
            <%       } %>
            <% } %>

            <% function five(){ %>
            <%     if(Number(info[i].level)<=50){ %>
            <%  return image = ascension[info[i].index].servant[0]['1']   %>
            <% return image %>
            <%       }else if(Number(info[i].level)<=70){ %>
            <%  return image = ascension[info[i].index].servant[0]['2']   %>
            <% return image %>
            <%       }else if(Number(info[i].level)<=80){ %>
           <%  return image = ascension[info[i].index].servant[0]['3']   %>
            <% return image %>
            <%       }else if(Number(info[i].level) >=90 && Number(info[i].level) <= 120){ %>
            <%  return image = ascension[info[i].index].servant[0]['4']   %>
            <% return image %>
            <%       } %>
            <% } %>



           <% if (info[i].ascension == 'default') { %>


            <% if(info[i].servant[0].rarity == '1'){ %>
                   <% one() %>
           <% }else if(info[i].servant[0].rarity == '2' || info[i].servant[0].rarity == '0'){ %>
                    <% two() %>
            <% }else if(info[i].servant[0].rarity == '3'){ %>
                    <% three() %>
            <% }else if(info[i].servant[0].rarity == '4'){ %>
                  <% four() %>
            <% }else if(info[i].servant[0].rarity == '5'){ %>
                    <% five() %>
            <% } %>
          

            <img src = '<%= image %>'>
            <% } %>

<% if (info[i].ascension !== 'default') { %>


  <% if(info[i].ascension == '1') { %>
    <%    image = ascension[info[i].index].servant[0]['1']   %>
<% }else if(info[i].ascension == '2'){ %>
    <%    image = ascension[info[i].index].servant[0]['2']   %>
<% }else if(info[i].ascension == '3'){ %>
    <%    image = ascension[info[i].index].servant[0]['3']   %>
<% }else if(info[i].ascension == '4'){ %>
    <%    image = ascension[info[i].index].servant[0]['4']   %>
<% } %>
<img src = '<%= image %>'>

<% } %>


            <div class = 'flex alignItems column name'>
                <h2>Servant Name: <%= info[i].servant[0].name %></h2>
                <% let className = info[i].servant[0].className.split('').map(ele => { %>
                        <% if(ele === ele.toUpperCase()) { %>
                           <% return ' ' + ele %>
                            <% } %>
                        <% if(ele != ele.toUpperCase()) { %>
                           <% return ele %>
                            <% } %>
               <% }).join('') %>

                <h3>Servant Class: <%=className %></h3> 
                <a href = '/user/<%= info[i]._id %>' class = 'button'>Go to <%= info[i].name %> page</a>
            </div>


            <div class="flex alignItems column"  id = 'skills'>

                <div class="flex justifyContent alignContent column skills">
                    <h2>Skills</h2>
                    <div class="flex justifyContent alignContent row image">
                    <div class = 'flex'><img src="<%= skill[info[i].index].servant[0].skills.skills1.icon %>" alt="">   <h2>Lv:<%= info[i].skill1 %></h2></div>
                    <div class = 'flex'><img src="<%= skill[info[i].index].servant[0].skills.skills2.icon %>" alt="">   <h2>Lv:<%= info[i].skill2 %></h2></div>
                    <div class = 'flex'><img src="<%= skill[info[i].index].servant[0].skills.skills3.icon %>" alt="">   <h2>Lv:<%= info[i].skill3 %></h2></div>
                </div>
                </div>

                <div class="flex justifyContent alignContent column skills" id = 'skills'>
                    <h2>Append Skills</h2>
                    <div class="flex justifyContent alignContent row image">
                    <div class = 'flex'><img src="<%= skill[info[i].index].servant[0].appendPassive.appendPassive0.icon %>" alt="">   <h2>Lv:<%= info[i].appendSkill1 %></h2></div>
                    <div class = 'flex'><img src="<%= skill[info[i].index].servant[0].appendPassive.appendPassive2.icon %>" alt="">   <h2>Lv:<%= info[i].appendSkill2 %></h2></div>
                    <div class = 'flex'><img src="<%=skill[info[i].index].servant[0].appendPassive.appendPassive3.icon %>" alt="">   <h2>Lv:<%= info[i].appendSkill3 %></h2></div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>

        <% } else if(!info[i].servant[0] && info[i].user._id==userID) { %>  
            <% check +=1 %>
            <div class = 'flex alignItems justifyContent button'> 
                <div class ='edit-delete' data-id = '<%= info[i]._id %>'>
                <a href = '/user/edit/<%= info[i]._id %>'><i class="fa-solid fa-pen"></i></a>
                
                <i class="fas fa-trash del"></i>
                </div>
                <h2>The servant you added couldn't be found</h2>

            </div>
        <% } %>

        <% } %>


        <div class="hidden check<%=check %>"></div>

            <% if(check == 0) { %>
                <h2>No Servants have been added yet</h2>
            <% } %>


            

</section>

<div class="flex buttons">
    <button class="button" id = 'show'>Show More</button>
    <button class="button" id = 'hide'>Show Less</button>
    
</div>

<i class="fa-solid fa-angle-down arrow-down"><a href = '#one'></a></i>
</header>

<section id = 'one'>
</section>
       
        <section id = 'section1' class = 'flex column alignItems'>
            <div class = 'banner'></div>
            <a class = 'flex alignItems' href= '/user/add'>
                <div class = 'flex column content'>
                <h2>Add Servants</h2>
                <span>Create a page for a servant by submitting their information.</span>
                </div>
            <img src = '/home/add.PNG' alt = 'screenshot preview of the add servant page'>
            <p>Servants are heroes and villains summoned from various time periods by the Holy Grail to participate in the Holy Grail War.  Possessing amazing magical, physical and intellectual abilities, these servants are separated into different categories known as servant classes that define their main abilities.</p>
        </a>
        <i class="fa-solid fa-angle-down arrow-down1"><a href = '#two'></a></i>
        </section>

<div class = 'box flex two'>
    <div class = 'container flex justifyContent'>
    <i class="fa-solid fa-angle-down arrow-down2"><a href = '#three'></a></i>
    </div>
        <section id = 'two' class = 'flex alignItems column'>
            <div class = 'banner'></div>
            <a href = '/user/servants' class = 'flex column'>
            <h2> Preview Added Servants </h2>
            <span>View all the new pages that were created for each servant added.</span>
            <img src = '/home/preview.PNG' alt = 'screenshot preview of the servant page'>
            <p><!----></p>
            </a>
        </section>
</div>

<div class = 'flex three'>
<section id = 'three' class = 'flex alignItems column'>
    <div class = 'banner'></div>
    <a href = '/user/gameplay' class = 'flex column'>
    <h2> Gameplay of Servants </h2>
    <span>Preview of gameplay from Fate Grand Order, showcasing various animations and how the game plays.</span>
    <img src = '/home/comments.PNG' alt = 'screenshot preview of the servant comments page'>
    <p><!----></p>
    </a>
</section>
<div class = 'container flex justifyContent'>
    <i class="fa-solid fa-angle-down arrow-down3"><a href = '#four'></a></i>
</div>
</div>

<div class = 'four flex box'>
    <div class = 'container flex justifyContent'>
        <i class="fa-solid fa-angle-down arrow-down4"><a href = '#footer'></a></i>
    </div>
    <section id = 'four' class = 'flex alignItems column'>
        <div class = 'banner'></div>
        <a href = '/user/simulator' class = 'flex column'>
        <h2> Servant Simulator </h2>
        <span>See what it's like to fight with your added servant in this simulation!</span>
        <img src = '/home/simulator.PNG' alt = 'screenshot preview of the simulator page'>
        <p><!----></p>
        </a>
    </section>
 </div>


 

    <footer class = 'flex column alignItems' id = 'footer'>
        <section class = 'flex icons'>
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-github"></i>
        <i class="fa-solid fa-envelope"></i>
        </section>
          <nav>
        
              <ul class = 'flex justifyContent'>

                <li><a href = '/user'>Home</a></li>
                <li><a href = '/user/add'>Add Servant</a></li>
                <li><a href = '/user/servants'>See Servant Data</a></li>
                <li><a href = '/user/gameplay'>Gameplay</a></li>
                <li><a href = '/user/simulator'>Simulator</a></li>
                <li><a href = '/auth/logout'>Logout</a></li>
                </ul>
         </nav>

         <small>FGO app &copy; choir Design: HTML5 UP</small>
        
      </footer>
      
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>   
      <script src="https://kit.fontawesome.com/d0e0071c1c.js" crossorigin="anonymous"></script>
      <script src = '/js/home.js'></script>

</body>
</html>