<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' href = '/css/reset.css'>
    <link rel = 'stylesheet' href = '/css/normalize.css'>
    <link rel = 'stylesheet' href = '/css/style.css'>
    <link rel = 'stylesheet' href = '/css/servant.css'>
    <title>Servants</title>
</head>
<body>
    <header class = 'flex column alignItems justifyContent header'>
        <div class = 'banner'></div>

        <nav class = 'flex'>
            <li><a href = '/user'><h2 class = 'logo'>Fate Grand Order</h2></a></li>
    
            <ul class = 'flex row'>
                <li><a href = '/user'>Home</a></li>
                <li><a href = '/user/add'>Add Servant</a></li>
                <li><a href = '/user/servants'>See Servant Data</a></li>
                <li><a href = '/user/gameplay'>Gameplay</a></li>
                <li><a href = '/user/simulator'>Simulator</a></li>
                <li><a href = '/auth/logout'>Logout</a></li>

            </ul>
        </nav>
    </header>

    <section class = 'alignItems column flex justifyContent section'>
        <h1 class="justifyContent flex">List of Servant Links</h1>
        

    <% for(let i =0; i < info.length; i++) { %>
      

        <% if(info[i].servant[0] && info[i].status == 'public') { %>
       <div class = 'flex servant-row'>
      

       
            <a href = '/user/<%= info[i]._id %>' class = 'flex alignItems servant'>



                <% let className = info[i].servant[0].className.split('').map(ele => { %>
                    <% if(ele === ele.toUpperCase()) { %>
                       <% return ' ' + ele %>
                        <% } %>
                    <% if(ele != ele.toUpperCase()) { %>
                       <% return ele %>
                        <% } %>
           <% }).join('') %>
                <div class = 'flex alignItems column'>View <%= className %> <%= info[i].servant[0].name %> page
                    <h3>By <%= userName %></h3>
                    <img src = '<%= userImage %>'>
                </div>
                
            
                <% let image = '' %>

                <% function one(){ %>
                    <% if(Number(info[i].level) <=25){ %>
                    <%  return image = ascension[info[i].index].servant[0]['1']   %>
                    <% }else if(Number(info[i].level) <=45){ %>
                    <%  return image = ascension[info[i].index].servant[0]['2']   %>
                    <% }else if(Number(info[i].level) <=55){ %>
                   <%  return image = ascension[info[i].index].servant[0]['3']   %>
                    <% }else if(Number(info[i].level) >=65 && Number(info[i].level) <= 120){ %>
                    <%  return image = ascension[info[i].index].servant[0]['4']   %>
                    <% } %>
                <% } %>
                <% function two(){ %>
                    <%     if(Number(info[i].level)<=20){ %>
                    <%  return image = ascension[info[i].index].servant[0]['1']   %>
                    <%       }else if(Number(info[i].level)<=40){ %>
                    <%  return image = ascension[info[i].index].servant[0]['2']   %>
                    <%       }else if(Number(info[i].level)<=50){ %>
                    <%  return image = ascension[info[i].index].servant[0]['3']   %>
                    <%       }else if(Number(info[i].level)>=60 && Number(info[i].level) <= 120){ %>
                    <%  return image = ascension[info[i].index].servant[0]['4']   %>
                    <%       } %>
                    <% } %>
        
        
                    <% function three(){ %>
                    <%     if(Number(info[i].level)<=30){ %>
                    <%  return image = ascension[info[i].index].servant[0]['1']   %>
                    <%       }else if(Number(info[i].level)<=50){ %>
                    <%  return image = ascension[info[i].index].servant[0]['2']   %>
                    <%       }else if(Number(info[i].level)<=60){ %>
                   <%  return image = ascension[info[i].index].servant[0]['3']   %>
                    <%       }else if(Number(info[i].level) >=70 && Number(info[i].level) <= 120){ %>
                   <%  return image = ascension[info[i].index].servant[0]['4']   %>
                    <%       } %>
                    <% } %>
        
                    <% function four(){ %>
                    <%     if(Number(info[i].level)<=40){ %>
                    <%  return image = ascension[info[i].index].servant[0]['1']   %>
                    <%       }else if(Number(info[i].level)<=60){ %>
                    <%  return image = ascension[info[i].index].servant[0]['2']   %>
                    <%       }else if(Number(info[i].level)<=70){ %>
                    <%  return image = ascension[info[i].index].servant[0]['3']   %>
                    <%       }else if(Number(info[i].level>=80) && Number(info[i].level) <= 120){ %>
                    <%  return image = ascension[info[i].index].servant[0]['4']   %>
                    <%       } %>
                    <% } %>
        
                    <% function five(){ %>
                    <%     if(Number(info[i].level)<=50){ %>
                    <%  return image = ascension[info[i].index].servant[0]['1']   %>
                    <% return image %>
                    <%       }else if(Number(info[i].level)<=70){ %>
                    <%  return image = ascension[info[i].index].servant[0]['2']   %>
                    <% return image %>
                    <%       }else if(Number(info[i].level)<=80){ %>
                   <%  return image = ascension[info[i].index].servant[0]['3']   %>
                    <% return image %>
                    <%       }else if(Number(info[i].level) >=90 && Number(info[i].level) <= 120){ %>
                    <%  return image = ascension[info[i].index].servant[0]['4']   %>
                    <% return image %>
                    <%       } %>
                    <% } %>
        
        
        
                   <% if (info[i].ascension == 'default') { %>
        
        
                    <% if(info[i].servant[0].rarity == '1'){ %>
                           <% one() %>
                   <% }else if(info[i].servant[0].rarity == '2' || info[i].servant[0].rarity == '0'){ %>
                            <% two() %>
                    <% }else if(info[i].servant[0].rarity == '3'){ %>
                            <% three() %>
                    <% }else if(info[i].servant[0].rarity == '4'){ %>
                          <% four() %>
                    <% }else if(info[i].servant[0].rarity == '5'){ %>
                            <% five() %>
                    <% } %>
                  
        
                    <img src = '<%= image %>'>
                    <% } %>
        
        <% if (info[i].ascension !== 'default') { %>
        
        
          <% if(info[i].ascension == '1') { %>
            <%    image = ascension[info[i].index].servant[0]['1']   %>
        <% }else if(info[i].ascension == '2'){ %>
            <%    image = ascension[info[i].index].servant[0]['2']   %>
        <% }else if(info[i].ascension == '3'){ %>
            <%    image = ascension[info[i].index].servant[0]['3']   %>
        <% }else if(info[i].ascension == '4'){ %>
            <%    image = ascension[info[i].index].servant[0]['4']   %>
        <% } %>
        <img src = '<%= image %>'>
        
        <% } %>
<div class="flex alignItems justifyContent column skill-alt">
                    <div class="flex alignItems column"  id = 'skills'>

                        <div class="flex justifyContent alignContent column skills">
                            <h2>Skills</h2>
                            <div class="flex justifyContent alignContent row image">
                            <div class = 'flex'><img src="<%= skill[info[i].index].servant[0].skills.skills1.icon %>" alt="">   <h2>Lv:<%= info[i].skill1 %></h2></div>
                            <div class = 'flex'><img src="<%= skill[info[i].index].servant[0].skills.skills2.icon %>" alt="">   <h2>Lv:<%= info[i].skill2 %></h2></div>
                            <div class = 'flex'><img src="<%= skill[info[i].index].servant[0].skills.skills3.icon %>" alt="">   <h2>Lv:<%= info[i].skill3 %></h2></div>
                        </div>
                        </div>
        
                    </div>
    <a class ='flex alignItems' href = '/user/id/<%= info[i].user._id %>'><h2>See more of <%= userName %>'s pages</h2></a>
</div>
    <% } %>
    
    <% if(info[i].user._id==userID && info[i].servant !== undefined && info[i].servant !== null && info[i].status == 'public' && !(info[i].servant.length < 1)) { %>
        <div class="flex alignItems justifyContent column edit-delete">
            <a href = '/user/edit/<%=  info[i]._id %>' class = 'button edit flex'><i class="fa-solid fa-pen"></i></a>

            <form action="/user/delete/<%=  info[i]._id  %>?_method=DELETE" method="POST" class ='flex justifyContent'>    
            <button class="button btn-primary fa fa-trash" type="submit"></button>
            </form>

        </div>
    <% } %>

    <% if(info[i].user._id!=userID && info[i].servant !== undefined && info[i].servant !== null && info[i].status == 'public' && !(info[i].servant.length < 1)) { %>
        <div class ='edit-delete flex alignItems justifyContent column'><i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>

        </div>
        
    <% } %>      
    </div>
          
    
    <% } %>

    <% for(let i =0; i < info.length; i++) { %>
        <% if(!info) { %>
            <h2>No Servants have been added yet</h2>
           <% break; %>
        <% } %>

    <% } %>
    </section>
    
    <footer class = 'flex column alignItems' id = 'footer'>
        <section class = 'flex icons'>
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-github"></i>
        <i class="fa-solid fa-envelope"></i>
        </section>
          <nav>
        
              <ul class = 'flex justifyContent'>
    
                <li><a href = '/user'>Home</a></li>
                  <li><a href = '/user/add'>Add Servant</a></li>
                  <li><a href = '/user/servants'>See Servant Data</a></li>
                  <li><a href = '/user/gameplay'>Gameplay</a></li>
                  <li><a href = '/user/simulator'>Simulator</a></li>
                  <li><a href = '/auth/logout'>Logout</a></li>
                </ul>
         </nav>
    
         <small>FGO app &copy; choir Design: HTML5 UP</small>
        
      </footer>
    
      <script src="https://kit.fontawesome.com/d0e0071c1c.js" crossorigin="anonymous"></script>

    </body>
    </html>