<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' href = '/css/reset.css'>
    <link rel = 'stylesheet' href = '/css/normalize.css'>
    <link rel = 'stylesheet' href = '/css/style.css'>
    <link rel = 'stylesheet' href = '/css/template.css'>
    <title><%= info.servant[0].name %></title>
</head>
<body>
    <header class = 'flex column alignItems justifyContent header'>
        <div class = 'banner'></div>

        <nav class = 'flex'>
          <li><a href = '/user'><h2 class = 'logo'>Fate Grand Order</h2></a></li>
    
                <ul class = 'flex row'>
                  <li><a href = '/user'>Home</a></li>
                  <li><a href = '/user/add'>Add Servant</a></li>
                  <li><a href = '/user/servants'>See Servant Data</a></li>
                  <li><a href = '/user/gameplay'>Gameplay</a></li>
                  <li><a href = '/user/simulator'>Simulator</a></li>
                  <li><a href = '/auth/logout'>Logout</a></li>

                </ul>
        </nav>
    </header>


<section class = 'flex column alignItems section'>

  <article class = 'flex alignItems article1'>
      <div class = 'flex justifyContent alignItems column'>
        <div class = 'flex alignItems justifyContent buttons'>
<% for(let i = 1;i< 5; i++) { %>
          <button class ='button link<%= i %>'>Ascension <%= i%></button>
<% } %>
        </div>

  <div id = 'tab1' class = 'flex justifyContent'>
            
    <img src = '<%= info1[info.index].servant[0].image %>'>
  </div>


  <div id = 'tab2' class = 'hidden flex justifyContent'>
    <img src = '<%= info2[info.index].servant[0].image %>'>
  </div>

  <div id = 'tab3' class = 'hidden flex justifyContent'>
    <img src = '<%= info3[info.index].servant[0].image %>'>
  </div>

  <div id = 'tab4' class = 'hidden flex justifyContent'>
    <img src = '<%= info4[info.index].servant[0].image %>'>
  </div>
  
      </div>
    <div class = 'stats'>
      <h1 class = 'flex'>full name: <%= info.name %></h1>

      <% let className = info.className.split('').map(ele=>{
        if(ele===ele.toUpperCase()){
            return ' ' + ele
        }else{
            return ele
        }
    }).join('') %>

      <h2 class = 'flex'>class Name: <%= className %></h2>

      <div class = 'flex rarity'>
      <h2 class = 'flex alignItems stars'>rarity: <%for(let i = 0; i < info.rarity; i++) { %>
        <img src = '/servants/star.png'>
        <% }%>

        <h2>collection number: <%= info.servant[0].collectionNo %></h2>
      </h2>
    </div>

    <div class = 'div flex'><h2>gender: <%= info.gender %></h2><h2>max level: <%= info.servant[0].lvMax %></h2></div>
    <div class = 'div flex'><h2>max attack: <%= info.servant[0].atkMax %></h2><h2>max health: <%= info.servant[0].hpMax %></h2></div>
    <div class = 'div flex'><h2>cost: <%= info.servant[0].cost %></h2><h2>servant id: <%= info.servant[0].id%></h2></div>
    <div class = 'div flex'><h2>star absorb: <%= info.servant[0].starAbsorb%></h2><h2>star gen: <%= info.servant[0].starGen%></h2></div>
    <h2>servant attribute: <%= info.servant[0].attribute%></h2>
    <h2>instant death chance: <%= info.servant[0].instantDeathChance%></h2>    
    
      <div class = 'flex cards'>
    <% for(let i = 0; i< info.servant[0].cards.length; i++) { %>
      <img src = '/simulator/<%= info.servant[0].cards[i] %>.png'>
      <% } %>
      </div>
    </div>
  </article>


  <article class = 'flex alignItems justifyContent article2'>
  

      <% const ascensions = {'0': 'First', '1': 'Second', '2': 'Third', '3': 'Fourth', '4': 'Last'} %>
      <div class = 'flex alignItems column ascension-level'> 
        <h3> Max levels to reach next each ascension</h3>
    <% for(let keys in info.servant[0].ascensionAdd.lvMax.ascension) { %>
        <span><%= ascensions[keys]%> Ascension: Level <%= info.servant[0].ascensionAdd.lvMax.ascension[keys] %></span>
    <% } %>



    </div>

    <div class = 'flex column skill-levels'>
      <div class = 'flex skill-heading'>
      <h2 class="flex alignItems">Servant Skills</h2>
      <div class = 'flex alignItems column level-heading'><h2 class = 'flex justifyContent'>Lv</h2><h2 class = 'flex justifyContent'> 1-5</h2></div>
      <div class = 'flex alignItems column level-heading'><h2 class = 'flex justifyContent'>Lv</h2><h2 class = 'flex justifyContent'> 6-9</h2></div>
      <div class = 'flex alignItems column level-heading'><h2 class = 'flex justifyContent'>Lv</h2><h2 class = 'flex justifyContent'> 10</h2></div>
      </div>

      
        <div class ='flex alignItems'>
        
        <h2><%= skill1[info.index].servant[0].skillName %></h2>
        <img src = '<%= skill1[info.index].servant[0].image %>'>
        <h2 class = 'flex justifyContent skills'><%= skill1[info.index].servant[0].skillCooldown[0] %></h2>
        <h2 class = 'flex justifyContent skills'><%= skill1[info.index].servant[0].skillCooldown[6] %></h2>
        <h2 class = 'flex justifyContent skills'><%= skill1[info.index].servant[0].skillCooldown[9] %></h2>

      </div>

      <div class ='flex alignItems'>

      <h2><%= skill2[info.index].servant[0].skillName%></h2>
      <img src = '<%= skill2[info.index].servant[0].image %>'>
      <h2 class = 'flex justifyContent skills'><%= skill2[info.index].servant[0].skillCooldown[0] %></h2>
      <h2 class = 'flex justifyContent skills'><%= skill2[info.index].servant[0].skillCooldown[6] %></h2>
      <h2 class = 'flex justifyContent skills'><%= skill2[info.index].servant[0].skillCooldown[9] %></h2>

    </div>

    <div class ='flex alignItems'>

      <h2><%= skill3[info.index].servant[0].skillName %></h2>
        <img src = '<%= skill3[info.index].servant[0].image %>'>
        <h2 class = 'flex justifyContent skills'><%= skill3[info.index].servant[0].skillCooldown[0] %></h2>
        <h2 class = 'flex justifyContent skills'><%= skill3[info.index].servant[0].skillCooldown[6] %></h2>
        <h2 class = 'flex justifyContent skills'><%= skill3[info.index].servant[0].skillCooldown[9] %></h2>

    </div>
        

      </div>

  
  </article>

  

</section>






<footer class = 'flex column alignItems' id = 'footer'>
  <section class = 'flex icons'>
  <i class="fa-brands fa-facebook-f"></i>
  <i class="fa-brands fa-instagram"></i>
  <i class="fa-brands fa-twitter"></i>
  <i class="fa-brands fa-github"></i>
  <i class="fa-solid fa-envelope"></i>
  </section>
    <nav>
  
        <ul class = 'flex justifyContent'>

          <li><a href = '/user'>Home</a></li>
          <li><a href = '/user/add'>Add Servant</a></li>
          <li><a href = '/user/servants'>See Servant Data</a></li>
          <li><a href = '/user/gameplay'>Gameplay</a></li>
          <li><a href = '/user/simulator'>Simulator</a></li>
          <li><a href = '/auth/logout'>Logout</a></li>
          </ul>
   </nav>

   <small>FGO app &copy; choir Design: HTML5 UP</small>
  

</footer>

<script src="https://kit.fontawesome.com/d0e0071c1c.js" crossorigin="anonymous"></script>
<script src="/js/template.js"></script>
</body>
</html>