<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' href = '/css/reset.css'>
    <link rel = 'stylesheet' href = '/css/normalize.css'>
    <link rel = 'stylesheet' href = '/css/style.css'>
    <link rel = 'stylesheet' href = '/css/template.css'>
    <title><%= info.servant[0].name %></title>
</head>
<body>
    <header class = 'flex column alignItems justifyContent header'>
        <div class = 'banner'></div>

        <nav class = 'flex'>
          <li><a href = '/user'><h2 class = 'logo'>Fate Grand Order</h2></a></li>
    
                <ul class = 'flex row'>
                  <li><a href = '/user'>Home</a></li>
                  <li><a href = '/user/add'>Add Servant</a></li>
                  <li><a href = '/user/servants'>See Servant Data</a></li>
                  <li><a href = '/user/gameplay'>Gameplay</a></li>
                  <li><a href = '/user/simulator'>Simulator</a></li>
                  <li><a href = '/auth/logout'>Logout</a></li>

                </ul>
        </nav>
    </header>


<section class = 'flex column alignItems section'>

  <article class = 'flex alignItems article1'>
      <div class = 'flex justifyContent alignItems column'>
        <div class = 'flex alignItems justifyContent buttons'>
<% for(let i = 1;i< 6; i++) { %>
          <button class ='button link<%= i %>'>Ascension <%= i%></button>
<% } %>
        </div>

  <div id = 'tab1' class = 'flex justifyContent'>
    <img src = '<%=info.servant[0].extraAssets.charaGraph.ascension[1] %>'>
  </div>
  
<% let ascension = 1 %>
<% for(let keys in info.servant[0].extraAssets.charaGraph.ascension) { %>
<% if(keys !== 1) { %>
  <div id = 'tab<%=ascension%>' class = 'hidden flex justifyContent'>
    <img src = '<%=info.servant[0].extraAssets.charaGraph.ascension[keys] %>'>
  </div>
<% ascension++ %>
    <% } %>
    <% } %>
  
<% for(let keys in info.servant[0].extraAssets.charaGraph.costume) { %>
  
      <% if(info.servant[0].extraAssets.charaGraph.costume[keys] !== null || info.servant[0].extraAssets.charaGraph.costume[keys] !== undefined){ %>
        <div id = 'tab<%=ascension%>' class = 'hidden flex justifyContent'>
      <img src = '<%=info.servant[0].extraAssets.charaGraph.costume[keys] %>'>
        </div>
      <% } %>
  
      <% } %>
      </div>
    <div class = 'stats'>
      <h1 class = 'flex'>full name: <%= info.servant[0].name %></h1>

      <h2 class = 'flex'>class Name: <%= info.servant[0].className %></h2>

      <div class = 'flex rarity'>
      <h2 class = 'flex alignItems stars'>rarity: <%for(let i = 0; i < info.servant[0].rarity; i++) { %>
        <img src = '/servants/star.png'>
        <% }%>

        <h2>collection number: <%= info.servant[0].collectionNo %></h2>
      </h2>
    </div>

    <div class = 'div flex'><h2>gender: <%= info.servant[0].gender %></h2><h2>max level: <%= info.servant[0].lvMax %></h2></div>
    <div class = 'div flex'><h2>max attack: <%= info.servant[0].atkMax %></h2><h2>max health: <%= info.servant[0].hpMax %></h2></div>
    <div class = 'div flex'><h2>cost: <%= info.servant[0].cost %></h2><h2>servant id: <%= info.servant[0].id%></h2></div>
    <div class = 'div flex'><h2>star absorb: <%= info.servant[0].starAbsorb%></h2><h2>star gen: <%= info.servant[0].starGen%></h2></div>
    <h2>servant attribute: <%= info.servant[0].attribute%></h2>
    <h2>instant death chance: <%= info.servant[0].instantDeathChance%></h2>    
    
      <div class = 'flex cards'>
    <% for(let i = 0; i< info.servant[0].cards.length; i++) { %>
      <img src = '/simulator/<%= info.servant[0].cards[i] %>.png'>
      <% } %>
      </div>
    </div>
  </article>


  <article class = 'flex alignItems justifyContent article2'>
    <div class ='flex alignItems column profile-stats'>
      <% for(let keys in info.servant[0].profile.stats) {%>
        <h4 class = 'flex'><%= keys %> : <%= info.servant[0].profile.stats[keys]%></h4>
      <% } %>
    </div>

      <% const ascensions = {'0': 'First', '1': 'Second', '2': 'Third', '3': 'Fourth', '4': 'Last'} %>
      <div class = 'flex alignItems column ascension-level'> 
        <h3> Max levels to reach next each ascension</h3>
    <% for(let keys in info.servant[0].ascensionAdd.lvMax.ascension) { %>
        <span><%= ascensions[keys]%> Ascension: Level <%= info.servant[0].ascensionAdd.lvMax.ascension[keys] %></span>
    <% } %>

    <div class = 'flex alignItems column'>
    <h4 class = 'flex'><%= info.servant[0].profile.cv%></h4>
    <h4 class = 'flex'><%= info.servant[0].profile.illustrator%></h4>
    </div>

    </div>

    <div class = 'flex column skill-levels'>
      <div class = 'flex skill-heading'>
      <h2 class="flex alignItems">Servant Skills</h2>
      <div class = 'flex alignItems column level-heading'><h2 class = 'flex justifyContent'>Lv</h2><h2 class = 'flex justifyContent'> 1-5</h2></div>
      <div class = 'flex alignItems column level-heading'><h2 class = 'flex justifyContent'>Lv</h2><h2 class = 'flex justifyContent'> 6-9</h2></div>
      <div class = 'flex alignItems column level-heading'><h2 class = 'flex justifyContent'>Lv</h2><h2 class = 'flex justifyContent'> 10</h2></div>
      </div>
      <% for(let i = 0; i< 3; i++) { %>
        <% let array = [] %>
      
        <div class ='flex alignItems'>
        
        <h2><%= info.servant[0].skills[i].name %></h2>
        <img src = '<%= info.servant[0].skills[i].icon %>'>

        <% for(let index = 0;index < info.servant[0].skills[i].coolDown.length; index++) { %>
          <% if(array.indexOf(info.servant[0].skills[i].coolDown[index]) === -1) { %>
                <% array.push(info.servant[0].skills[i].coolDown[index]) %>
                
                <h2 class = 'flex justifyContent skills'><%= info.servant[0].skills[i].coolDown[index] %></h2>
              
            <% } %>
            <% } %>
          </div>
        <% } %>
          
      </div>
  
  
  </article>

  

</section>






<footer class = 'flex column alignItems' id = 'footer'>
  <section class = 'flex icons'>
  <i class="fa-brands fa-facebook-f"></i>
  <i class="fa-brands fa-instagram"></i>
  <i class="fa-brands fa-twitter"></i>
  <i class="fa-brands fa-github"></i>
  <i class="fa-solid fa-envelope"></i>
  </section>
    <nav>
  
        <ul class = 'flex justifyContent'>

          <li><a href = '/user'>Home</a></li>
          <li><a href = '/user/add'>Add Servant</a></li>
          <li><a href = '/user/servants'>See Servant Data</a></li>
          <li><a href = '/user/gameplay'>Gameplay</a></li>
          <li><a href = '/user/simulator'>Simulator</a></li>
          <li><a href = '/auth/logout'>Logout</a></li>
          </ul>
   </nav>

   <small>FGO app &copy; choir Design: HTML5 UP</small>
  

</footer>

<script src="https://kit.fontawesome.com/d0e0071c1c.js" crossorigin="anonymous"></script>
<script src="/js/template.js"></script>
</body>
</html>