<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' href = '/css/reset.css'>
    <link rel = 'stylesheet' href = '/css/normalize.css'>
    <link rel = 'stylesheet' href = '/css/style.css'>
    <link rel = 'stylesheet' href = '/css/view.css'>
    <title><%= userName %>'s Servant Pages</title>
</head>
<body>
<header class = 'flex column alignItems justifyContent header'>
    <div class = 'banner'></div>

    <nav class = 'flex'>
        <li><a href = '/user'><h2 class = 'logo'>Fate Grand Order</h2></a></li>

            <ul class = 'flex row'>
                <li><a href = '/user'>Home</a></li>
                <li><a href = '/user/add'>Add Servant</a></li>
                <li><a href = '/user/servants'>See Servant Data</a></li>
                <li><a href = '/user/gameplay'>Gameplay</a></li>
                <li><a href = '/user/simulator'>Simulator</a></li>
                <li><a href = '/auth/logout'>Logout</a></li>

            </ul>
    </nav>
</header>

<section class = 'flex column section'>
    <h1><%= userName %>'s servants</h1>
<div class = 'flex row'>
    <% for(let i =0; i < info.length; i++) { %>
        <% if(info[i].servant[0] && info[i].status == 'public') { %>
           

    <a href = '/user/<%= info[i]._id %>'>
        
        <article class = 'button flex column'>
           
            <h2><%= info[i].servant[0].name %></h2>
            
    
            <div class = 'flex'>
        
                <img src = '<%=info[i].servant[0].extraAssets.charaGraph.ascension[info[i].ascension] %>' class = 'ascension'> 

        <% let o = Math.floor(Math.random() * info[i].servant[0].profile.voices.length) %>
        <% let v = Math.floor(Math.random() * info[i].servant[0].profile.voices[o].voiceLines.length) %>
                <div class = 'flex column justifyContent audio'>
                    <h2>Voice Line for </h2>
                    <h2><%= info[i].servant[0].profile.voices[o].voiceLines[v].name %></h2>
                    <audio controls src = '<%= info[i].servant[0].profile.voices[o].voiceLines[v].audioAssets[0] %>'></audio>
                </div>
            </div>

            <div class = 'flex'>
        <% for(let index = 0; index< info[i].servant[0].cards.length; index++) { %>
                <img src = '/simulator/<%= info[i].servant[0].cards[index] %>.png'>
            <% } %>
            </div>

        </article>
    </a>
  
    <% } %>
        <% } %>
</div>
</section>



<footer class = 'flex column alignItems' id = 'footer'>
    <section class = 'flex icons'>
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-github"></i>
    <i class="fa-solid fa-envelope"></i>
    </section>
      <nav>
    
          <ul class = 'flex justifyContent'>

            <li><a href = '/user'>Home</a></li>
                  <li><a href = '/user/add'>Add Servant</a></li>
                  <li><a href = '/user/servants'>See Servant Data</a></li>
                  <li><a href = '/user/gameplay'>Gameplay</a></li>
                  <li><a href = '/user/simulator'>Simulator</a></li>
                  <li><a href = '/auth/logout'>Logout</a></li>
            </ul>
     </nav>

     <small>FGO app &copy; choir Design: HTML5 UP</small>
    
  </footer>

  <script src="https://kit.fontawesome.com/d0e0071c1c.js" crossorigin="anonymous"></script>
  <script src = '/js/view.js'></script>
</body>
</html>