<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' href = '/css/reset.css'>
    <link rel = 'stylesheet' href = '/css/normalize.css'>
    <link rel = 'stylesheet' href = '/css/style.css'>
    <link rel = 'stylesheet' href = '/css/view.css'>
    <title><%= userName %>'s Servant Pages</title>
</head>
<body>
<header class = 'flex column alignItems justifyContent header'>
    <div class = 'banner'></div>

    <nav class = 'flex'>
        <li><a href = '/user'><h2 class = 'logo'>Fate Grand Order</h2></a></li>

            <ul class = 'flex row'>
                <li><a href = '/user'>Home</a></li>
                <li><a href = '/user/add'>Add Servant</a></li>
                <li><a href = '/user/servants'>See Servant Data</a></li>
                <li><a href = '/user/gameplay'>Gameplay</a></li>
                <li><a href = '/user/simulator'>Simulator</a></li>
                <li><a href = '/auth/logout'>Logout</a></li>

            </ul>
    </nav>
</header>

<section class = 'flex column section'>
    <h1><%= userName %>'s servants</h1>
<div class = 'flex row'>
    <% for(let i =0; i < data.length; i++) { %>
        <% if(data[i].servant[0] && data[i].status == 'public') { %>
           

    <a href = '/user/<%= data[i]._id %>'>
        
        <article class = 'button flex column'>
           
            <h2><%= data[i].servant[0].name %></h2>
            
            <% let className = data[i].servant[0].className.split('').map(ele=>{
                if(ele===ele.toUpperCase()){
                    return ' ' + ele
                }else{
                    return ele
                }
            }).join('') %>
            <h2><%= className %></h2>
            <div class = 'flex'>
                    

                <% let image = '' %>

                <% function one(){ %>
                    <% if(Number(data[i].level) <=25){ %>
                    <%  return image = ascension[data[i].index].servant[0]['1']   %>
                    <% }else if(Number(data[i].level) <=45){ %>
                    <%  return image = ascension[data[i].index].servant[0]['2']   %>
                    <% }else if(Number(data[i].level) <=55){ %>
                   <%  return image = ascension[data[i].index].servant[0]['3']   %>
                    <% }else if(Number(data[i].level) >=65 && Number(data[i].level) <= 120){ %>
                    <%  return image = ascension[data[i].index].servant[0]['4']   %>
                    <% } %>
                <% } %>
                <% function two(){ %>
                    <%     if(Number(info[i].level)<=20){ %>
                    <%  return image = ascension[data[i].index].servant[0]['1']   %>
                    <%       }else if(Number(data[i].level)<=40){ %>
                    <%  return image = ascension[data[i].index].servant[0]['2']   %>
                    <%       }else if(Number(data[i].level)<=50){ %>
                    <%  return image = ascension[data[i].index].servant[0]['3']   %>
                    <%       }else if(Number(data[i].level)>=60 && Number(data[i].level) <= 120){ %>
                    <%  return image = ascension[data[i].index].servant[0]['4']   %>
                    <%       } %>
                    <% } %>
        
        
                    <% function three(){ %>
                    <%     if(Number(data[i].level)<=30){ %>
                    <%  return image = ascension[data[i].index].servant[0]['1']   %>
                    <%       }else if(Number(data[i].level)<=50){ %>
                    <%  return image = ascension[data[i].index].servant[0]['2']   %>
                    <%       }else if(Number(data[i].level)<=60){ %>
                   <%  return image = ascension[data[i].index].servant[0]['3']   %>
                    <%       }else if(Number(data[i].level) >=70 && Number(data[i].level) <= 120){ %>
                   <%  return image = ascension[data[i].index].servant[0]['4']   %>
                    <%       } %>
                    <% } %>
        
                    <% function four(){ %>
                    <%     if(Number(data[i].level)<=40){ %>
                    <%  return image = ascension[data[i].index].servant[0]['1']   %>
                    <%       }else if(Number(data[i].level)<=60){ %>
                    <%  return image = ascension[data[i].index].servant[0]['2']   %>
                    <%       }else if(Number(data[i].level)<=70){ %>
                    <%  return image = ascension[data[i].index].servant[0]['3']   %>
                    <%       }else if(Number(data[i].level>=80) && Number(data[i].level) <= 120){ %>
                    <%  return image = ascension[data[i].index].servant[0]['4']   %>
                    <%       } %>
                    <% } %>
        
                    <% function five(){ %>
                    <%     if(Number(data[i].level)<=50){ %>
                    <%  return image = ascension[data[i].index].servant[0]['1']   %>
                    <% return image %>
                    <%       }else if(Number(data[i].level)<=70){ %>
                    <%  return image = ascension[data[i].index].servant[0]['2']   %>
                    <% return image %>
                    <%       }else if(Number(data[i].level)<=80){ %>
                   <%  return image = ascension[data[i].index].servant[0]['3']   %>
                    <% return image %>
                    <%       }else if(Number(data[i].level) >=90 && Number(data[i].level) <= 120){ %>
                    <%  return image = ascension[data[i].index].servant[0]['4']   %>
                    <% return image %>
                    <%       } %>
                    <% } %>
        
        
        
                   <% if (data[i].ascension === 'default') { %>
        
        
                    <% if(data[i].servant[0].rarity == '1'){ %>
                           <% one() %>
                   <% }else if(data[i].servant[0].rarity == '2' || data[i].servant[0].rarity == '0'){ %>
                            <% two() %>
                    <% }else if(data[i].servant[0].rarity == '3'){ %>
                            <% three() %>
                    <% }else if(data[i].servant[0].rarity == '4'){ %>
                          <% four() %>
                    <% }else if(data[i].servant[0].rarity == '5'){ %>
                            <% five() %>
                    <% } %>
                  
        
                    <img src = '<%= image %>'>

                    <% } else if (info[i].ascension !== 'default') { %>
                            
                            
                        <% if(info[i].ascension == '1') { %>
                          <%    image = ascension[info[i].index].servant[0]['1']   %>
                      <% }else if(info[i].ascension == '2'){ %>
                          <%    image = ascension[info[i].index].servant[0]['2']   %>
                      <% }else if(info[i].ascension == '3'){ %>
                          <%    image = ascension[info[i].index].servant[0]['3']   %>
                      <% }else if(info[i].ascension == '4'){ %>
                          <%    image = ascension[info[i].index].servant[0]['4']   %>
                      <% } %>
                      <img src = '<%= image %>'>
                      
                      <% } %>

                 
            </div>

            <div class = 'flex'>
        <% for(let index = 0; index< info[i].servant[0].cards.length; index++) { %>
                <img src = '/simulator/<%= info[i].servant[0].cards[index] %>.png'>
            <% } %>
            </div>

        </article>
    </a>
  
    <% } %>
        <% } %>
</div>
</section>



<footer class = 'flex column alignItems' id = 'footer'>
    <section class = 'flex icons'>
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-github"></i>
    <i class="fa-solid fa-envelope"></i>
    </section>
      <nav>
    
          <ul class = 'flex justifyContent'>

            <li><a href = '/user'>Home</a></li>
                  <li><a href = '/user/add'>Add Servant</a></li>
                  <li><a href = '/user/servants'>See Servant Data</a></li>
                  <li><a href = '/user/gameplay'>Gameplay</a></li>
                  <li><a href = '/user/simulator'>Simulator</a></li>
                  <li><a href = '/auth/logout'>Logout</a></li>
            </ul>
     </nav>

     <small>FGO app &copy; choir Design: HTML5 UP</small>
    
  </footer>

  <script src="https://kit.fontawesome.com/d0e0071c1c.js" crossorigin="anonymous"></script>
  <script src = '/js/view.js'></script>
</body>
</html>