<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' href = '/css/reset.css'>
    <link rel = 'stylesheet' href = '/css/normalize.css'>
    <link rel = 'stylesheet' href = '/css/style.css'>
    <link rel = 'stylesheet' href = '/css/servant.css'>
    <title>Add Servant</title>
</head>
<body>
    <header class = 'flex column alignItems justifyContent'>
        <div class = 'banner'></div>

        <nav class = 'flex'>
            <li><h2 class = 'logo'>Fate Grand Order</h2></li>s
    
                <ul class = 'flex row'>
                    <li><a href = '/'>Home</a></li>
                    <li><a href = '/add'>Add Servant</a></li>
                    <li><a href = '/servants'>See Servant Data</a></li>
                    <li><a href = '/comments'>Comments</a></li>
                    <li><a href = '/simulator'>Simulator</a></li>
                </ul>
        </nav>
    </header>

    <section class = 'alignItems column flex justifyContent'>
        <h1 class="justifyContent flex">List of Servant Links</h1>

    <% for(let i =0; i < info.length; i++) { %>
            <a href = '/home/<%= info[i].firstName.toLowerCase() %>' class = 'flex alignItems'> <div class = 'flex alignItems column '><h2>Servant <%= [i+1] %>: </h2> <%= info[i].firstName %> <%= info[i].lastName %>'s page</div>
    <img src = '/<%=info[i].image%>'> </a>
    <% } %>
    </section>
    
    <footer class = 'flex column alignItems' id = 'footer'>
        <section class = 'flex icons'>
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-github"></i>
        <i class="fa-solid fa-envelope"></i>
        </section>
          <nav>
        
              <ul class = 'flex justifyContent'>
    
            <li><a href = '/'>Home</a></li>
            <li><a href = '/add'>Add Servant</a></li>
            <li><a href = '/servants'>See Servant Data</a></li>
            <li><a href = '/comments'>Comments</a></li>
            <li><a href = '/simulator'>Simulator</a></li>
                </ul>
         </nav>
    
         <small>FGO app &copy; choir Design: HTML5 UP</small>
        
      </footer>
    
      <script src="https://kit.fontawesome.com/d0e0071c1c.js" crossorigin="anonymous"></script>
    </body>
    </html>