<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' href = '/css/reset.css'>
    <link rel = 'stylesheet' href = '/css/normalize.css'>
    <link rel = 'stylesheet' href = '/css/style.css'>
    <link rel = 'stylesheet' href = '/css/template.css'>
    <title><%= info.servant.name %></title>
</head>
<body>
    <header class = 'flex column alignItems justifyContent'>
        <div class = 'banner'></div>

        <nav class = 'flex'>
            <li><h2 class = 'logo'>Fate Grand Order</h2></li>s
    
                <ul class = 'flex row'>
                    <li><a href = '/'>Home</a></li>
                    <li><a href = '/add'>Add Servant</a></li>
                    <li><a href = '/servants'>See Servant Data</a></li>
                    <li><a href = '/gameplay'>Gameplay</a></li>
                    <li><a href = '/simulator'>Simulator</a></li>
                </ul>
        </nav>
    </header>


<section class = 'flex column alignItems'>

  <article class = 'flex alignItems article1'>
      <div class = 'flex justifyContent alignItems column'>
        <div class = 'flex alignItems justifyContent buttons'>
<% for(let i = 1;i< 6; i++) { %>
          <button class ='button link<%= i %>'>Ascension <%= i%></button>
<% } %>
        </div>

  <div id = 'tab1' class = 'flex justifyContent'>
    <img src = '<%=info.servant.extraAssets.charaGraph.ascension[1] %>'>
  </div>
  
<% let ascension = 1 %>
<% for(let keys in info.servant.extraAssets.charaGraph.ascension) { %>
<% if(keys !== 1) { %>
  <div id = 'tab<%=ascension%>' class = 'hidden flex justifyContent'>
    <img src = '<%=info.servant.extraAssets.charaGraph.ascension[keys] %>'>
  </div>
<% ascension++ %>
    <% } %>
    <% } %>
  
<% for(let keys in info.servant.extraAssets.charaGraph.costume) { %>
  
      <% if(info.servant.extraAssets.charaGraph.costume[keys] !== null || info.servant.extraAssets.charaGraph.costume[keys] !== undefined){ %>
        <div id = 'tab<%=ascension%>' class = 'hidden flex justifyContent'>
      <img src = '<%=info.servant.extraAssets.charaGraph.costume[keys] %>'>
        </div>
      <% } %>
  
      <% } %>
      </div>
    <div class = 'stats'>
      <h1 class = 'flex'>full name: <%= info.servant.name %></h1>

      <h2 class = 'flex'>class Name: <%= info.servant.className %></h2>

      <div class = 'flex rarity'>
      <h2 class = 'flex alignItems stars'>rarity: <%for(let i = 0; i < info.servant.rarity; i++) { %>
        <img src = '/servants/star.png'>
        <% }%>

        <h2>collection number: <%= info.servant.collectionNo %></h2>
      </h2>
    </div>

    <div class = 'div flex'><h2>gender: <%= info.servant.gender %></h2><h2>max level: <%= info.servant.lvMax %></h2></div>
    <div class = 'div flex'><h2>max attack: <%= info.servant.atkMax %></h2><h2>max health: <%= info.servant.hpMax %></h2></div>
    <div class = 'div flex'><h2>cost: <%= info.servant.cost %></h2><h2>servant id: <%= info.servant.id%></h2></div>
    <div class = 'div flex'><h2>star absorb: <%= info.servant.starAbsorb%></h2><h2>star gen: <%= info.servant.starGen%></h2></div>
    <h2>servant attribute: <%= info.servant.attribute%></h2>
    <h2>instant death chance: <%= info.servant.instantDeathChance%></h2>    
    
      <div class = 'flex cards'>
    <% for(let i = 0; i< info.servant.cards.length; i++) { %>
      <img src = '/simulator/<%= info.servant.cards[i] %>.png'>
      <% } %>
      </div>
    </div>
  </article>


  <article class = 'flex justifyContent alignItems article2'>
    <div class ='flex alignItems column'>
      <% for(let keys in info.servant.profile.stats) {%>
        <h4 class = 'flex'><%= keys %> : <%= info.servant.profile.stats[keys]%></h4>
      <% } %>
    </div>

      <% const ascensions = {'0': 'First', '1': 'Second', '2': 'Third', '3': 'Fourth', '4': 'Last'} %>
      <div class = 'flex alignItems column'> 
        <h3> Max levels to reach next each ascension</h3>
    <% for(let keys in info.servant.ascensionAdd.lvMax.ascension) { %>
        <span><%= ascensions[keys]%> Ascension: Level <%= info.servant.ascensionAdd.lvMax.ascension[keys] %></span>
    <% } %>

    <div class = 'flex alignItems column'>
    <h4 class = 'flex'><%= info.servant.profile.cv%></h4>
    <h4 class = 'flex'><%= info.servant.profile.illustrator%></h4>
    </div>
    </div>
  
  </article>

  

</section>






<footer class = 'flex column alignItems' id = 'footer'>
  <section class = 'flex icons'>
  <i class="fa-brands fa-facebook-f"></i>
  <i class="fa-brands fa-instagram"></i>
  <i class="fa-brands fa-twitter"></i>
  <i class="fa-brands fa-github"></i>
  <i class="fa-solid fa-envelope"></i>
  </section>
    <nav>
  
        <ul class = 'flex justifyContent'>

      <li><a href = '/' class = 'data'>Home</a></li>
      <li><a href = '/add' class = 'data'>Add Servant</a></li>
      <li><a href = '/servants' class = 'data'>See Servant Data</a></li>
      <li><a href = '/comments' class = 'data'>Comments</a></li>
      <li><a href = '/simulator' class = 'data'>Simulator</a></li>
          </ul>
   </nav>

   <small>FGO app &copy; choir Design: HTML5 UP</small>
  

</footer>

<script src="https://kit.fontawesome.com/d0e0071c1c.js" crossorigin="anonymous"></script>
<script src = '/js/template.js'></script>
</body>
</html>