<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' href = '/css/reset.css'>
    <link rel = 'stylesheet' href = '/css/normalize.css'>
    <link rel = 'stylesheet' href = '/css/style.css'>
    <link rel = 'stylesheet' href = '/css/template.css'>
    <title><%= info.firstName%> <%= info.lastName%></title>
</head>
<body>
    <header class = 'flex column alignItems justifyContent'>
        <div class = 'banner'></div>

        <nav class = 'flex'>
            <li><h2 class = 'logo'>Fate Grand Order</h2></li>s
    
            <ul class = 'flex row'>
              <li><a href = '/'>Home</a></li>
              <li><a href = '/add'>Add Servant</a></li>
              <li><a href = '/servants'>See Servant Data</a></li>
              <li><a href = '/gameplay'>Gameplay</a></li>
              <li><a href = '/simulator'>Simulator</a></li>
          </ul>
        </nav>
    </header>
    
<section>

    <article class = 'flex justifyContent alignItems column'>
        <div class = 'flex alignItems justifyContent buttons'>
<% for(let i = 1;i< 6; i++) { %>
          <button class ='button link<%= i %>'>Ascension <%= i%></button>
<% } %>
        </div>

  <div id = 'tab1'>
    <img src = '<%=info.servant.extraAssets.charaGraph.ascension[1] %>'>
  </div>
  
<% let ascension = 1 %>
<% for(let keys in info.servant.extraAssets.charaGraph.ascension) { %>
<% if(keys !== 1) { %>
  <div id = 'tab<%=ascension%>' class = 'hidden'>
    <img src = '<%=info.servant.extraAssets.charaGraph.ascension[keys] %>'>
  </div>
<% ascension++ %>
    <% } %>
    <% } %>
  
<% for(let keys in info.servant.extraAssets.charaGraph.costume) { %>
  
      <% if(info.servant.extraAssets.charaGraph.costume[keys] !== null || info.servant.extraAssets.charaGraph.costume[keys] !== undefined){ %>
        <div id = 'tab<%=ascension%>' class = 'hidden'>
      <img src = '<%=info.servant.extraAssets.charaGraph.costume[keys] %>'>
        </div>
      <% } %>
  
      <% } %>
  
  
    </article>
  </section>

<!-- 
<section class = 'flex column alignItems'>
  <h2><%= info.servant.className %></h2>
  <h2><%= info.servant.gender %></h2>
  <h2><%= info.servant.lvMax %></h2>
  <h2><%= info.servant.atkMax %></h2>
  <h2><%= info.servant.hpMax %></h2>
  <h2><%= info.servant.cost %></h2>
  <h2><%= info.servant.collectionNo %></h2>
  <h2><%= info.servant.name %></h2>
  <h2><%= info.servant.instantDeathChance%></h2>
  <h2><%= info.servant.rarity%></h2>
  <h2><%= info.servant.starAbsorb%></h2>
  <h2><%= info.servant.starGen%></h2>
  <h2><%= info.servant.id%></h2>
  <h2><%= info.servant.attribute%></h2>

  <article class = 'flex'>
<% for(let i = 0; i< info.servant.cards.length; i++) { %>
  <img src = '/simulator/<%= info.servant.cards[i] %>.png'>
  <% } %>
  </article>

  <article class = 'flex ascension'>
    <% for(let i = 0; i< info.servant.skills.length; i++) { %>
      <h2><%= info.servant.skills[i].name %></h2>
      <img src = '<%= info.servant.skills[i].icon %>'>
      <% let array = [] %>
      <% for(let index = 0;index < info.servant.skills[i].coolDown.length; index++) { %>
        <% if(array.indexOf(info.servant.skills[i].coolDown[index]) === -1) { %>
              <% array.push(info.servant.skills[i].coolDown[index]) %>
              <h2><%= info.servant.skills[i].coolDown[index] %></h2>
          <% } %>
          <% } %>
      <% } %>
      </article>



  



  <article class = 'ascension flex'>
    <% for(let keys in info.servant.extraAssets.charaFigure.story) { %>
      <% if(info.servant.extraAssets.charaFigure.story[keys] !== null || info.servant.extraAssets.charaFigure.story[keys] !== undefined) { %>
      <img src = '<%=info.servant.extraAssets.charaFigure.story[keys] %>'>
      <% } %>
      <% } %>

  <% for(let keys in info.servant.extraAssets.charaFigure.ascension){ %>
    <img src = '<%= info.servant.extraAssets.charaFigure.ascension[keys] %>'>
  <% } %>

</article>


<article>
  <% for(let keys in info.servant.extraAssets.commands.ascension){ %>
    <img src = '<%= info.servant.extraAssets.commands.ascension[keys] %>'>
  <% } %>


  <% for(let keys in info.servant.extraAssets.commands.costume){ %>
    <% if(info.servant.extraAssets.commands.costume[keys] !== null || info.servant.extraAssets.commands.costume[keys] !== undefined) { %>
    <img src = '<%= info.servant.extraAssets.commands.costume[keys] %>'>
    <% } %>
  <% } %>
</article>


<% for(let keys in info.servant.extraAssets.status.ascension){ %>
  <img src = '<%= info.servant.extraAssets.status.ascension[keys] %>'>
<% } %>


  <% const ascensions = {'0': 'First', '1': 'Second', '2': 'Third', '3': 'Fourth', '4': 'Last'} %>
  <div class = 'flex alignItems column  '> 
    <h3> Max levels to reach next each ascension</h3>
<% for(let keys in info.servant.ascensionAdd.lvMax.ascension) { %>
    <span><%= ascensions[keys]%> Ascension: Level <%= info.servant.ascensionAdd.lvMax.ascension[keys] %></span>
<% } %>
</div>

<aside>
<h4><%= info.servant.profile.cv%></h4>
<h4><%= info.servant.profile.illustrator%></h4>
</aside>

<section>
  <% for(let keys in info.servant.profile.stats) {%>
    <h4 class = 'flex'><%= keys %> : <%= info.servant.profile.stats[keys]%></h4>
  <% } %>
</section>


<section>
<% for(let o = 0; o< info.servant.profile.voices.length; o++){ %>
  <% for(let i = 0; i< info.servant.profile.voices[o].voiceLines.length; i++) { %>
    <h2><%= info.servant.profile.voices[o].voiceLines[i].name %></h2>
    <audio class = 'audio' controls src = '<%= info.servant.profile.voices[o].voiceLines[i].audioAssets[0] %>'></audio>
  <% } %>
  <% } %>
  </section>


  <article>
    <% info.servant.classPassive.forEach(ele=>{ %>
      <h3> <%= ele.name %></h3>
      <img src = '<%= ele.icon %>'>
    <% }) %>
  </article>
<% let lastindex = info.servant.noblePhantasms[0].individuality.length %>
<h2><%= info.servant.noblePhantasms[0].card %></h2>
<img src = '<%= info.servant.noblePhantasms[0].icon %>'>
<h2><%= info.servant.noblePhantasms[0].name %></h2>
<h2><%= info.servant.noblePhantasms[0].rank %></h2>
<h2><%= info.servant.noblePhantasms[1].card %></h2>
<img src = '<%= info.servant.noblePhantasms[1].icon %>'>
<h2><%= info.servant.noblePhantasms[1].name %></h2>
<h2><%= info.servant.noblePhantasms[1].rank %></h2>

<h2><%= info.servant.coin.item.name%></h2>
<img src = '<%= info.servant.coin.item.icon %>'>


<% for(let i=0;i< info.servant.appendPassive.length;i++) { %>
  <h2><%= info.servant.appendPassive[i].skill.name %></h2>
<img src = '<%= info.servant.appendPassive[i].skill.icon %>'>
  <% } %>

</section> -->
<!-- 
appendSkillMaterials: {1: {…}, 2: {…}, 3: {…}, 4: {…}, 5: {…}, 6: {…}, 7: {…}, 8: {…}, 9: {…}}
ascensionMaterials: {0: {…}, 1: {…}, 2: {…}, 3: {…}}
skillMaterials: {1: {…}, 2: {…}, 3: {…}, 4: {…}, 5: {…}, 6: {…}, 7: {…}, 8: {…}, 9: {…}}
traits: (15) [{…}, {…}, {…}, {…}, {…}, {…}, {…}, {…}, {…}, {…}, {…}, {…}, {…}, {…}, {…}]
 -->






<footer class = 'flex column alignItems' id = 'footer'>
  <section class = 'flex icons'>
  <i class="fa-brands fa-facebook-f"></i>
  <i class="fa-brands fa-instagram"></i>
  <i class="fa-brands fa-twitter"></i>
  <i class="fa-brands fa-github"></i>
  <i class="fa-solid fa-envelope"></i>
  </section>
    <nav>
  
        <ul class = 'flex justifyContent'>

      <li><a href = '/' class = 'data'>Home</a></li>
      <li><a href = '/add' class = 'data'>Add Servant</a></li>
      <li><a href = '/servants' class = 'data'>See Servant Data</a></li>
      <li><a href = '/comments' class = 'data'>Comments</a></li>
      <li><a href = '/simulator' class = 'data'>Simulator</a></li>
          </ul>
   </nav>

   <small>FGO app &copy; choir Design: HTML5 UP</small>
  

</footer>

<script src="https://kit.fontawesome.com/d0e0071c1c.js" crossorigin="anonymous"></script>
<script src = '/js/template.js'></script>
</body>
</html>